 /* style for loader class overlay */
 .spanner{
    position:fixed;
    top: 50%;
    left: 0;
    background: #ffffff55;
    width: 100%;
    display:block;
    text-align:center;
    height: 100%;
    color: #FFF;
    transform: translateY(-50%);
    z-index: 2000;
    visibility: hidden;
    }

    .show{
    visibility: visible;
    }
    .spanner, .overlay{
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    }
    .spanner.show, .overlay.show {
    opacity: 1
    }
 /* style for loader class overlay */
